#unidades {
  margin: 0 auto;
  border-radius: 0.9em;
  box-shadow: .05em .05em 0.3em var(--color-text-title);
  height: 23em;
  width: 20em;
  margin-top: 2em;
  margin-bottom: 3em;
  padding: 2%;

}

.buttons{
  margin-right: 40px;
}
